/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 0px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #80B0CB;
}

.navbar-custom {
    background-color: #18467A;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.footer {
    background-color: #EAEAF2;
    margin: 0;
    padding: 0;
}

.footer-padding {
    padding-top: 32px;
    padding-bottom: 22px;
}
