@model IEnumerable<DisabledConfidentWebsite.Models.Employer>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xs-12">
        <h3>List Of Employers That Have Signed Up</h3>
        <hr />
        @foreach (var employer in Model)
        {
            <p class="">@employer.Name</p>
        }
    </div>

    <div class="col-xs-12">
        <h3>Employers That Have Signed Up</h3>
        <hr />
        <canvas id="employers-that-have-signed-up" width="628" height="741"></canvas>
    </div>

</div>
