@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h3>Employers That Have Signed Up</h3>
        <hr />
        <img src="~/images/employers_that_have_signed_up.png" alt="Bar chart for employers that have signed up">
    </div>

</div>
