@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Employers That Have Signed Up</h3>
        <hr />
        <canvas id="employers-that-have-signed-up" width="628" height="741"></canvas>
    </div>

</div>
