@model DisabledConfidentWebsite.ViewModels.EmployerViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h3>List Of Employers That Have Signed Up</h3>
        <hr />

        <form asp-controller="Home" asp-action="Index" method="post">
            <span>Employers Sector</span>
            <select asp-for="Sector" asp-items="Model.Sectors" class="custom-select"></select>
            <button type="submit" class="btn btn-secondary">Apply</button>
        </form>

            <table class="table table-striped table-bordered">
                <tr>
                    <th>Employer's Name</th>
                    <th>Place</th>
                    <th>Level</th>
                </tr>
                @foreach (var employer in Model.Employers)
                {
                    <tr>
                        <td>@employer.Name</td>
                        <td>@employer.Place</td>
                        <td>@employer.DCLevel</td>
                    </tr>
                }
            </table>
        </div>

        <div class="col-md-12">
            <h3>Employers That Have Signed Up</h3>
            <hr />
            <canvas id="employers-that-have-signed-up" width="628" height="741"></canvas>
        </div>

    </div>
